body {
    font-family: Helvetica, sans-serif;
    background: black;
    background-image: url("https://images3.alphacoders.com/876/876952.jpg");
}

.loginForm-divPadre {
    margin: 10%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.loginForm-Txt_Btn_Container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.loginform-textContainer,
.loginForm-buttonContainer {
    align-self: center;
    margin: 15px;
}

.loginform-userText {
    width: 447px;
    height: 66px;
    font-size: 30px;
    margin-top: 2px;
}

.loginform-userText::-webkit-input-placeholder {
    text-align: center;
    line-height: 100px;
}

.loginForm-buttonContainer {
    width: 447px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.loginForm-btnRegistro {
    width: 208px;
    height: 70px;
    font-family: 'Inter', sans-serif, Arial;
    color: #ffffff;
    font-size: 22px;
    line-height: 16px;
    text-decoration: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background: #d6ba85;
}

.loginForm-btnRegistro:hover {
    background: rgb(27, 196, 125);
}

.loginForm-btnLogin {
    width: 208px;
    height: 70px;
    font-family: 'Inter', sans-serif, Arial;
    color: #ffffff;
    font-size: 22px;
    line-height: 16px;
    text-decoration: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background: rgb(108, 192, 103);
}

.loginForm-btnLogin:hover {
    background: rgb(27, 196, 125);
}.loginForm-userText {

}
